.round {
    border-radius: 10000px;
    height: 50px !important;
    margin: 0px .7rem;
    width: 50px;
    background:rgba(0,0,0,0);
    border: 1px solid #fff;
    font-weight: 300;
    cursor: pointer;
    font-size: 20px;
    color: white;
    font-weight: 300;
}

.flat {
    height: 48px !important;
    border: none;
    background: rgba(255, 255, 255, 1);
    color: #333;
    border: 1px solid #ccc;
    font-size: 16px;
    font-weight: 300;
    padding: 0 10px 0 10px;
    min-width: 160px;
}

.invalid {
    opacity: 0.5;
    background: #f92b21 !important;
    border: 1px solid #ff6f61 !important;
    color: #fff !important;
}